<!doctype html>


<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Covid Behavior Project</title>

  <script>
    {% include "./md5.js" %}
  </script>

  <style>
    {% include "./bootstrap-3.4.1.min.css" %}
  </style>

  <script>
    {% include "./jquery-3.5.1.js" %}
  </script>

  <script>
    {% include "./bootstrap-3.4.1.min.js" %}
  </script>


  <style>
    textarea
    {
      white-space: pre;
      overflow-wrap: normal;
      overflow-x: scroll;
    }
  </style>
</head>

<body>


<div class="container">
  <div class="row">


    <h2>The Covid Behavior Project - Configuration App</h2>
    <hr/>
    <h3>Going out in Covid times?</h3>
    <h4>Can you let others you may encounter know what you've been doing recently?</h4>
     
      <ul>
        <li> This is anonymous, so please be honest with your answers.
        <li> You are never asked for your name, email address, phone number, or any health-related information.
        <li> Your phone is not needed at all. No Apps are used.
        <li> This is private. Information only flows between your Covid-behavior device and this computer.
        <li> The Internet is not used at all (turn off WiFi/unplug cable now if you wish). 
      </ul>

      <hr/>

       <div id="content"></div>


       <div id="update_area" style="display: none"></div>
           
      
            <div class="form-group">
              
                  <h3>Update your device</h3>
                  <h4>Check all that apply about your past 2-3 days</h4>
                  

                  <div class="row">

                    <div class="col-sm-6">
                      <h4>Going out</h4>
                      <div>
                        <input  class="form-check-input" type="checkbox" checked onClick="update_code(0)" value="0"> I have not been out
                        <br/>
                        <input  class="form-check-input" type="checkbox" onClick="update_code(1)" value="1"> I have been out
                      </div>

                      <h4>Mask wearing</h4>
                      <div>
                        <input class="form-check-input" type="checkbox" onClick="update_code(2)" value="2"> I was wearing a mask
                        <br/>
                        <input class="form-check-input" type="checkbox" onClick="update_code(3)" value="3"> I was not wearing a mask
                      </div>
                    

                      <h4>How about others you were around?</h4>
                      <div>
                        <input class="form-check-input" type="checkbox" onClick="update_code(4)" value="4"> They were wearing masks
                        <br/>
                        <input class="form-check-input" type="checkbox" onClick="update_code(5)" value="5"> They were not wearing masks
                        <br/>
                        <input class="form-check-input" type="checkbox" onClick="update_code(6)" value="6"> They are in my Covid-safe "bubble"
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <h4>Social Distancing</h4>
                      <div>
                        <input class="form-check-input" type="checkbox" onClick="update_code(7)" value="7"> I did social distance (did not spend more that 15 minutes within 6 feet of anyone)
                        <br/>
                        <input class="form-check-input" type="checkbox" onClick="update_code(8)" value="8"> I did not social distance (spent 15 minutes within 6 feet of others)
                      </div>

                      <h4>Were you inside or outside?</h4>
                      <div>
                        <input class="form-check-input" type="checkbox" onClick="update_code(9)" value="9"> Inside
                        <br/>
                        <input class="form-check-input" type="checkbox" onClick="update_code(10)" value="10"> Outside
                      </div> 
                    </div>
                  
                  </div>


                  <br/>
                
                  <button class="btn btn-success" onclick="bt_update()">Update hardware</button>
                  <!--- <button class="btn btn-success" onclick="get_health_code()">Compile health code</button--->
                  
            </div>
          </div>
   

 
          <hr/>

          <div id="row">
            <div id="col">
              <h3>Retrieve your device log</h3>
              <button onclick="read_token()" class="btn btn-success btn-xs">Download Device Log</button>
              <a id="device_log_download" class="btn btn-primary btn-xs" download="Download.csv" type="text/csv">Save device log</a>
              <br/>
              <small>Trouble connecting to device?  Go to this URL: <b>chrome://bluetooth-internals/#devices</band manually scan for and "Inspect" the device. Then try here again.</small>
              <br/>
              <br/>
              <textarea id="device_dump"  class="form-control" rows=5 readonly wrap="soft"></textarea>
              <br/>
              <hr/>

              <!--
              <h3>Optional: Share encounters or message those you've encountered</h3>
              <h4>This is optional. Ignore it if you wish.</h4>
              <br/>
              <button class="btn btn-info" data-toggle="modal" data-target="#share">Share encounters</button>
              <button class="btn btn-info" data-toggle="modal" data-target="#id_info">Message those I've encountered</button>
              <br/>
              <br/>
              -->
              <hr/>
            </div>
          </div>

  </div>
</div>

</body>
</html>


<div id="share" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Share your encounters</h4>
      </div>
      <div class="modal-body">
        An added power of who you encountered is in sharing them with others using the device.  If you don't mind sharing your encounters (it's all anonymous), please click "Share" below.
        <br/>
        <br/>
        This will add your encounters to a growning database at covid222.org.
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Share</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="id_info" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Messaging ID</h4>
      </div>
      <div class="modal-body">
       Send a message to those you've encountered.
        <br/>
        <br/>
        Type your message and click 'Send.'
        <br/>
        <textarea class="form-control" id="message" rows="5"></textarea>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="send_message()">Send</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>

  var mouseX = 0, mouseY = 0;
  const PACKET_SIZE = 22;
  const hash_salt = "b063f85e5dbc0310dfc860e012965552";
  var d = new Date();
  var dstr = d.getFullYear() + "-" + d.getMonth().toString().padStart(2,'0') + "-" + d.getDate().toString().padStart(2,'0') + "_encounters.csv";
  var public_id, private_id;


  $( document ).ready(function() 
  {
  
    $('#device_log_download').attr("download",dstr);
    $( ".container" ).mousemove(function( event ) {
      mouseX += event.pageX;
      mouseY += event.pageY;
    });

    $('#id_area').css("visibility","hidden");

    //localStorage.clear();
    private_id = localStorage.getItem('private_id'); 
    public_id = localStorage.getItem('public_id');

    if (public_id == null || private_id == null)
    {
      $('#content').html(`
        <div id="config_front">
          <h3>Initial configuration</h3>
          Looks like you're setting up the Covid behavior hardware for the first time. Click this button to get your anonymous ID:
          <br/>
          <br/>
          <center><button onclick="create_ids()" class="btn btn-success btn-lg">Create ID</button></center>
          <br/>
          <div id="id_area" style="display: none">
            Here is your anonymous ID that is used to broadcast your health information to those you encounter:
            <br/>
            <br/>
            <textarea rows=1 class="form-control" readonly id="public_id_field"></textarea>
            <br/>
            Please copy this into a safe place (like a Word document on your computer for safekeeping). It is important that you
            always use this ID throughout your participation in contact tracing. For you to remain unique in this effort, please 
            never change this ID, or request a new one.
            <br/>
            <br/>
          </div>
        </div>`);
    }
    else
    {
       $('#update_area').css("display","inline");
    }

});

function create_ids()
{
  //https://stackoverflow.com/questions/8532406/create-a-random-token-in-javascript-based-on-user-details
  private_id = md5(navigator.userAgent + new Date().getTime() + mouseX.toString() + mouseY.toString() + window.outerHeight.toString() + window.outerWidth.toString());
  public_id = md5(hash_salt + private_id).substring(0,16);
  localStorage.setItem('public_id',public_id);
  localStorage.setItem('private_id',private_id);
  
  $('#public_id_field').val("Your public contact tracing ID will be: "+public_id);
  $('#id_area').css("display","inline");
  $('#update_area').css("display","inline");
  $('#config_front').css("display","none");
}


function decode_health(num)
{
   var codes = {
                                1: "Has not been out",
                                2: "Has been out",
                                4 : "Wearing a mask", 
                                8: "Not wearing a mask", 
                                16: "Around others wearing masks", 
                                32: "Around others not wearing masks", 
                                64: "Around others in a Covid-bubble", 
                                128: "Social distanced", 
                                256: "Did not social distance",
                                512: "Inside", 
                                1024: "Outside", 
                              };
  var ret = "";

  Object.keys(codes).forEach(function(key) 
                              {
                                if (num & key)
                                  ret = ret + codes[key] + ", ";
                              });
  return(ret);
}

function update_health_id()
{
  var health;
  var health_hex;

  health = get_health_code();
  health_hex = health.toString(16).padStart(4,"0");
  $("#health_update_id").val(public_id + private_id + health_hex);
  $('#health_share').modal('show')
}

function decode(str)
{
  var id, health, count;
  var health_str;

  if (str.length != 22)
    return(str);

  id = str.substring(1,17);
  health = parseInt(str.substring(16,20),16);
  health_str = decode_health(health);
  count = parseInt(str.substring(20,22),16);

  return(id + " encountered " + count.toString() + " times: " + health_str);
}

function get_health_code()
{
  var health = 0;
  
  $('input[type=checkbox]').each(function () {
     if (this.checked) 
     {
        health += Math.pow(2,parseInt($(this).val())); 
     }
  });

  console.log("health code="+health);

  return(health);
}

function read_token()
{
  bt_read();
  //save_device_log();
}

async function bt_read()
{
    var device;
    var read_int;
    var i;
    var device_log;
    try
    {
      device = await navigator.bluetooth.requestDevice(
        {
          filters: [
            {namePrefix: '#C19:'},
            {services: ['0000feed-0000-1000-8000-00805f9b34fb']},
          ],
        });

        var server = await device.gatt.connect();
        var service = await server.getPrimaryService('0000feed-0000-1000-8000-00805f9b34fb');
        var characteristic = await service.getCharacteristic('0000c0de-0000-1000-8000-00805f9b34fb');

        device_log = "";
        line = 0;
        $('#device_dump').val("Reading...");
        $('#device_dump_uncoded').val("");
        read_encounters();

        async function read_encounters()
            {
              try
              {       
                var value = await characteristic.readValue();
                var data = new TextDecoder("utf-8").decode(value);
                var i, dump, uncoded;
                var pre;

                if (data.substring(0,3) == 'end')
                {
                  clearInterval(read_int);
                  device.gatt.disconnect();

                  uncoded = "";
                  dump = "";
                  for(i=0;i<device_log.length;i += PACKET_SIZE)
                  {
                    dump = dump + decode(device_log.substring(i,i + PACKET_SIZE)) + "\n";
                    uncoded = uncoded + device_log.substring(i,i + PACKET_SIZE) + "\n";
                    line++;
                  }

                  pre = Math.floor(device_log.length / PACKET_SIZE) + " encounters found.\n";
                  $('#device_dump').val(pre + dump);  
                  save_device_log();
                  //$('#device_dump_uncoded').val(public_id + private_id + "\n");
                  //$('#device_dump_uncoded').val($('#device_dump_uncoded').val() + uncoded);          
                }
                else
                {
                  device_log = device_log + data;
                  $('#device_dump').val($('#device_dump').val() + ".");  
                  read_int = setTimeout(read_encounters,100);
                }
              }
              catch(error)
              {
                console.log(error);
                clearInterval(read_int);
                device.gatt.disconnect();
              }
            }
       }
       catch(error)
        {
          console.log(error);
        }


  }



function bt_update()
{
    var bt_device;
    var health = 0, health_hex;
    var update_id;
    var i;
    var a = [];

    $('input[type=checkbox]').each(function () {
           if (this.checked) {
              health += parseInt($(this).val()); 
           }
      });


    health_hex = health.toString(16).padStart(4,"0");
    update_id = public_id + health_hex;
    console.log(health_hex,health,update_id);

    navigator.bluetooth.requestDevice({
      filters: [
        //{namePrefix: '#C19:'}
         {services: ['0000feed-0000-1000-8000-00805f9b34fb']},
      ],
      })
        .then(device => { 
                          bt_device = device; // here
                          return device.gatt.connect();
                        })
        .then(server => {
          return server.getPrimaryService('0000feed-0000-1000-8000-00805f9b34fb');
        })
        .then(service => {
          return service.getCharacteristic('0000c0de-0000-1000-8000-00805f9b34fb');
        })
        .then(characteristic => {
          for (var i = 0; i < update_id.length; i ++)
            a.push(update_id.charCodeAt(i));
          return characteristic.writeValue(new Uint8Array(a));
        })
        .then(_ =>
        {
          alert("Device updated. Please remove, then restore power to complete update.")
          bt_device.gatt.disconnect();
        })
        .catch(error =>
          { 
            console.log(error); 
          });

}


function save_device_log()
{
  var log = $('#device_dump').val();
  var data = new Blob([log]);
  console.log("log="+log);
  var a = document.getElementById("device_log_download");
  a.href = URL.createObjectURL(data);
}

function update_code(n)
{

}


</script>

</body>
</html>